body {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Questrial', sans-serif;
}

/*.background-blur{
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 50px;
  display: block;
  background-color: rgba(0, 0, 0, .8);

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}*/


.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  opacity: 1;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  box-shadow: 0px 2px 20px -3px rgba(0, 0, 0, .7);
}

.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 1);
}
.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

header{
  text-align: center;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h3.page-title {
  margin-top: 70px;
}

#intro .title {
  margin-top: 100px;
}

@media (min-width: 768px) {
    #intro .title h1{
      margin-top: 50px;
    }
}

#contact .profile-img {
  margin: 20px auto 20px auto;
}

#contact .bottom {
  margin-top: 20px;
}

.icon {
  max-height: 50px;
  margin: auto;
}


.profile-img {
  border: 2px solid white;
  padding: 0;
  width: 200px;
}

.bottom {
  margin-bottom: 70px;
}

.panel {
  background-color: rgba(0, 0, 0, 0.0);
  padding: 10px;
  color: white;
  border-color: white;
  border-radius: 2px;
  margin-top: 20px;
  min-height: 400px;
  /*height: 400px;*/
}

.flip{
  min-height: 400px;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel-footer {
  background-color: transparent;
  color: white;
}


.content {

  text-align: left;

}

.intro{
    background-color: #F72C25;
    background-color: #F1433F;
}


.turn-around-icon{
  height: 22px;
  width: 22px;
  margin: -18px -13px 2px 2px;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);

}

.img-mirror {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1) rotate(270deg);
  transform: scaleX(-1) rotate(270deg);
  filter: FlipH;
  -ms-filter: "FlipH";
  -ms-transform: rotate(270deg);
  margin: -18px 0px 0px -20px;
}

.demo-pic{
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
}

/*****************/
/* About Styling */
/*****************/
.about{
    /*background-color: rgba(56,133,196,.5);*/
    background-color: #3F88C5;
    background-color: #487DB9;
    /*color: #343844;*/
}
.about .panel {
  width: 400px;
  min-height: 575px;
  margin: auto;
  margin-bottom: 50px;
}

.about p{
  margin-bottom: 0;
}

.about-pic {
  border: 0px solid transparent;
  border-radius: 2px;
}


.about .back .panel-footer{
  padding-left: 0;
  padding-right: 0;
}

/********************/
/* Projects Styling */
/********************/
.projects .front .container-fluid{
  padding-left: 0;
  margin-left: -3px;
}
.projects .demo-pic{
  margin-top: 40px;
  margin-bottom: 15px;
}

/**********************/
/* Discoverfy Styling */
/**********************/

.discoverfy{
    background-color: #2AB7CA;
    background-color: #33A8D9;
}

.discoverfy .demo-pic{
 height: 300px;
 margin-top: -5px;
 margin-bottom: 5px;
}


/***************/
/* Ava Styling */
/***************/

.ava {
  background-color: #F34213;
  background-color: #6C80C7;
}


/******************/
/* Chorus Styling */
/******************/
.chorus{
  background-color: #70B7BA;
  background-color: #334B87;
}


/*******************/
/* Hobbies Styling */
/*******************/
header.hobbies{
  min-height: 100%
}
.hobbies{
  background-color: #10A35C;
  background-color: #487DB9;

}
.hobbie-content{
  height: 100%;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 2px;
}
.hobbie-img{
  max-width: 100%;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.on-hover{
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.overlay{
  position: absolute;
  bottom: 0;
  padding-left: 5px;
  left: 0;
  margin: 0px 17px 2px 17px;
  font-size:1.5em;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  -ms-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.overlay-hover{
  -webkit-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
@media only screen and (max-width: 780px) {
  .overlay{
    font-size:3em;
    padding-left: 15px;

  }

  .hobbie-content{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contact .icon{
    margin-left: 10vw;
    margin-top: 40px;

  }
}


@media only screen and (max-width: 500px) {
  #intro .title {
    margin-top: 50px;
  }

  .flip{
    width:90vw;
    margin: auto;
  }

  /****************/
  /* About Mobile */
  /****************/
  .about .panel{
    width: 90vw;
    margin: auto;
    height: 100%;
    margin-bottom: 50px;
  }
  .about .panel .container-fluid{
    margin-left: -10px;
    padding-right: 0px;
  }
  /*********************/
  /* Discoverfy Mobile */
  /*********************/

  .discoverfy .demo-pic {
    margin-top: 25px;
    margin-bottom: 25px;
  }


  /**************/
  /* Ava Mobile */
  /**************/

  #ava .demo-pic {
    margin-top: 100px;
    margin-bottom: 25px;
  }


  /*****************/
  /* Chorus Mobile */
  /*****************/

  #chorus .demo-pic {
    margin-top: 90px;
    margin-bottom: 25px;
  }

  /*****************/
  /* Hobbie Mobile */
  /*****************/
  .overlay{
    font-size:2em;
    padding-left: 15px;

  }

  .hobbie-content{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /******************/
  /* Contact Mobile */
  /******************/


}


.offtopic{
    background-color: #0A2239;
}

.handprints{
    background-color: #10A35C;
}
.contact{
    background-color: #EDB036;
    background-color: #33A8D9;
}
